/*
nextfloe config file
*/

params {
    //dataset and output directory name
    dataset_name = "mockgut"
    data_dir_name = "data_test"

    //Paths input and output
    output_base = "${projectDir.parent}/${params.data_dir_name}"
    input_txt= "${projectDir.parent}/data/input/input.txt"

    //scripts 
    py_coverage_calc = "${projectDir}/genome_coverage_calculator.py"
    py_fastq_to_tsv = "${projectDir}/fastq_to_tsv.py"
    py_embedding_calc = "${projectDir}/calculate_embedding_for_tsv_02.py"
    py_kmeans = "${projectDir}/cluster_embeddings.py"
    py_visualization = "${projectDir}/visualize_embeddings.py"
    py_download = "${projectDir}/download_genome.py"
    py_process_fna = "${projectDir}/process_genomes.py"
    py_cluster_dist = "${projectDir}/distances_within_between_cluster.py"
    py_visualization_cluster_dist="${projectDir}/compare_distances.py"
    
    
    target_coverage = 10
    seeds_sim = 42

    //short reads simulation parameter
    short_read_length = 300
    model_short = "MiSeq"
    

    //long reads simulation parameter
    mean_length_long=15000
    length_stdev_long=13000
    identity="95,99,2.5"
    error_model = "nanopore2023"
    seed_long=42

    // DNABERT-S local directory (used with model_list "test")
    test_model_dir = "${projectDir.parent}/DNABERT-S"

    data_dir = "."

    // Processing for testing 
    use_get_n_lines = true //for testing true
    n_lines_test = 10 
}
conda {
    enabled = true  // Nextflow weiß: Conda ist aktiv
}


trace {
    enabled = true
    file = "${params.output_base}/pipeline_info/trace.txt"
}

timeline {
    enabled = true
    file = "${params.output_base}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.output_base}/pipeline_info/report.html"
}

/* defaults for ALL profiles */
process {
  // sensible defaults
  cpus   = 4
  memory = '4 GB'
  time   = '2h'
}

//for testing 
profiles {

    test {
        params {
            dataset_name     = "test_run"
            target_coverage   = 1
            mean_length_long = 1000
            length_stdev_long=500
            n_lines_test     = 2000
    }
    process.executor = 'local'
    }
    lisc {
        process.executor = 'slurm'
        process.queue    = 'normal'
        process.cpus = 6 
        process.memory = '16 GB'
        process.time     = '5h'
        params.use_get_n_lines = false

        process {
            withName: 'process_read_pipeline:calculate_embeddings'{
            cpus   = 6
            memory = '32 GB'
            time = '12h'
            clusterOptions = '--gres=gpu:1'
            beforeScript = 'module load CUDA/12.9.1'
            }
        }
        executor {
            exitReadTimeout  = '6 hour'
        }
    }       
}
