/*
nextfloe config file
*/

params {
    //dataset and output directory name
    dataset_name = "mock_test"
    data_dir_name = "data_test"

    //Paths input and output
    output_base = "${projectDir.parent}/${params.data_dir_name}"
    input_txt= "${projectDir.parent}/${params.data_dir_name}/input/input.txt"

    //scripts 
    py_fastq_to_tsv = "${projectDir}/fastq_to_tsv.py"
    py_embedding_calc = "${projectDir}/calculate_embedding_for_tsv_02.py"
    py_kmeans = "${projectDir}/cluster_embeddings.py"
    py_visualization = "${projectDir}/visualize_embeddings.py"
    py_download = "${projectDir}/download_genome.py"
    py_process_fna = "${projectDir}/process_genomes.py"

    //short reads simulation parameter
    n_reads_short = 20
    model_short = "MiSeq"

    //long reads simulation parameter
    mean_length_long=10000
    length_stdev_long=5000
    indentity="nanopore2023"
    seed_long=42

    // DNABERT-S local directory (used with model_list "test")
    test_model_dir = "${projectDir.parent}/DNABERT-S"

    data_dir = "."

    // Processing
    n_lines_test = 10 
}
conda {
    enabled = true  // Nextflow weiß: Conda ist aktiv
}

/*
# 1. Schaue Timeline an (im Browser)
start data_test/pipeline_info/timeline.html

# 2. Schaue Report an (im Browser)
start data_test/pipeline_info/report.html

# 3. Schaue Details an (Terminal)
cat data_test/pipeline_info/trace.txt

*/
trace {
    enabled = true
    file = "${params.output_base}/pipeline_info/trace.txt"
}

timeline {
    enabled = true
    file = "${params.output_base}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.output_base}/pipeline_info/report.html"
}
// for testing 
profiles {
    test {
        params {
            dataset_name = "test_run"
            n_reads_short = 10
            mean_length = 500
            n_lines_test = 5
        }
    }
}